<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{layoutBase :: head}">
</head>

<body>

	<div th:replace="~{layoutBase :: navbar}"></div>

	<div class="container">
		<h1 class="mb-3">Formulário</h1>

		<form action="#" 
		      th:object="${professor}" 
		      th:action="@{/professor/add}" 
		      method="post">

			<div th:replace="~{layoutBase :: form}"></div>

			<div class="col-12 mt-2">
				<button type="submit" class="btn btn-dark">Salvar</button>
			</div>

		</form>
	</div>

</body>

</html>